.idea/.idea.CellularGravity/riderModule.iml
.idea/.idea.CellularGravity/.idea/contentModel.xml
.idea/.idea.CellularGravity/.idea/indexLayout.xml
.idea/.idea.CellularGravity/.idea/modules.xml
.idea/.idea.CellularGravity/.idea/workspace.xml
/Library